.spheres {
    padding: 120px 0;
}

.spheres__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.spheres__pagination {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.live-pagination {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.live-pagination.active {
    background-color: #eb3d47;
}

.spheres__card {
    font-family: "Inter", sans-serif;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1) url("../../assets/icons/item.svg") no-repeat right;
    background-size: contain;
    padding: 265px 0 70px 65px;
}

.spheres__card-title {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
}

.spheres__card-text {
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    max-width: 688px;
}

.indicators {
    display: flex;
    gap: 20px;
    align-items: center;
}

.arrow-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.arrow {
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow:hover {
    background-color: #eb3d47;
    color: #fff;
    border-radius: 30px;
}

.arrow:active {
    transform: scale(0.95);
    background-color: #d7373f;
    border-radius: 30px;
}

.swiper {
    width: 100%;
}

@media (max-width:480px) {
    .spheres__title {
        text-wrap: nowrap;
        font-size: 20px;
    }

    .spheres__card {
        width: 100%;
        text-align: left;
        background-image: url("../../assets/icons/item-mobile.svg");
        background-position: right;
        max-width: 303px;
        padding: 50px 20px;
        margin: auto;
    }

    .spheres__card-title {
        font-size: 24px;
    }

    .spheres__card-text {
        width: 208px;
        font-size: 14px;
    }

    .spheres__pagination {
        font-size: 8px;
        flex-direction: row-reverse;
        /* border: 1px solid red; */
        margin-top: 20px;
        gap: 30px;
    }

    .indicators {
        gap: 13px;
    }

    .indicators div {
        border: 1px solid red;
        width: 6px;
        height: 6px;
    }

    .arrow {
        width: 50px;
        height: 28px;
    }

    .arrow-buttons {
        gap: 6px;
    }
}