.stack {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sphers__title {
    margin-bottom: 50px;
}

.stack__tabs {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 31px;
    width: 360px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.15);
}

.stack__tab-item {
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding: 13px 38px;
    border-radius: 30px;
    border: 1px solid #eb3d47;
    transition: all 0.3s ease;
    cursor: pointer;
}

.stack__tab-item--active {
    background-color: #eb3d47;
    color: #fff;
    border: 1px solid #eb3d47;
}

.stack__tab-item:hover {
    background-color: #eb3d47;
    color: #fff;
    transform: scale(1.05);
}

.stack__grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 1164px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 31px;
    width: 360px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    max-width: 305px;
    width: 100%;
}

.card--django {
    padding-top: 65px;
    padding-bottom: 25px;
}

.card--fastapi {
    padding-top: 40px;
    padding-bottom: 25px;
}

.card--flask {
    padding-top: 50px;
    padding-bottom: 25px;
}

.card--tornado {
    padding-top: 50px;
    padding-bottom: 25px;
}

.card--aiohttp {
    padding-top: 40px;
    padding-bottom: 25px;
}

.card--pyramid {
    padding-top: 40px;
    padding-bottom: 25px;
}

.card__logo img {
    padding-bottom: 35px;
    max-width: 100%;
    height: auto;
}

.card__name {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.steks__title {
    margin-bottom: 50px;
}

@media (max-width:480px) {
    .steks__title {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .card img {
        display: none;
    }

    .stack__grid {
        flex-direction: column;
    }

    .stack__tabs {
        display: none;
    }

    .card {
        padding: 15px 0;
        border-radius: 18px;
    }
}