.hero {
    padding: 120px 0;
    font-family: "Montserrat", sans-serif;
}

.hero__title {
    font-weight: 900;
    font-size: 182px;
    color: #eb3d47;
    margin-bottom: 45px;
}

.hero__desc {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    max-width: 884px;
    width: 100%;
    line-height: 1.6;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
}

.benefits__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 700px;
    width: 100%;
    margin: 40px 0 95px;
}

.benefit__item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    color: #fff;
    padding: 13px 40px 13px 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    min-width: 238px;
    max-width: 305px;
    white-space: nowrap;
    /* заменил text-wrap */
}

.benefit__title {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.hero__btn {
    padding: 17px 65px;
    width: 285px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background: #eb3d47;
    transition: background 0.3s, transform 0.2s;
}

.hero__btn:hover {
    background: #d7353f;
}

.hero__btn:active {
    transform: scale(0.97);
}

/* Планшеты */
@media (max-width: 1024px) {
    .hero__title {
        font-size: 120px;
    }

    .hero__desc {
        font-size: 18px;
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .hero__title {
        font-size: 90px;
    }

    .hero__desc {
        font-size: 16px;
        max-width: 450px;
        line-height: 1.5;
    }

    .hero__btn {
        width: 220px;
        font-size: 16px;
    }
}

/* Маленькие смартфоны */
@media (max-width: 480px) {
    .hero__title {
        font-size: 64px;
    }

    .hero__desc {
        font-size: 1rem;
        line-height: 1.7;
        max-width: 100%;
    }

    .hero__btn {
        width: 190px;
        font-size: 14px;
        padding: 12px 30px;
        margin-top: 40px;
    }

    .benefit__title {
        font-size: 12px;
    }

    .benefits__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero__btn {
        font-size: 14px;
        padding: 9px 30px;

    }


}