/* ================= Portfolio Section ================= */

.portfolio {
    padding: 120px 0;
}

.portfolio__title {
    color: #EB3D47;
    font-size: 32px;
    text-transform: uppercase;
}

.portfolio__nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    flex-wrap: wrap;
    color: white;
}

.portfolio__nav-title {
    font-size: 32px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__card {
    width: 100%;
    max-width: 554px;
    padding: 40px 30px;
    border-radius: 30px;
    color: white;
    background-color: #2A2C32;
}

.portfolio__card-image {
    width: 100%;
    background-color: white;
    height: 170px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.portfolio__card-title {
    font-size: 20px;
}

.portfolio__card-text {
    margin: 25px 0;
}

.portfolio__card-btn {
    padding: 14px 38px;
    background-color: #EB3D47;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

/* ================= Адаптив ================= */
@media (max-width: 700px) {
    .portfolio__card-image {
        display: none;
    }
}