/* ================= Portfolio Section ================= */

.portfolio {
    padding: 120px 0;
}

.portfolio__title {
    color: #EB3D47;
    font-size: 32px;
    text-transform: uppercase;
}

.portfolio__subtitle {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}

.portfolio__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 55px;
}

.portfolio__pagination {
    display: flex;
    gap: 35px;
}

.portfolio__subtitle {
    margin-bottom: 55px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__card {
    flex: 1 1 calc(50% - 30px);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 30px;
    color: white;
    background-color: #2A2C32;
}

.portfolio__card-image {
    width: 100%;
    background-color: white;
    height: 170px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.portfolio__card-title {
    font-size: 20px;
}

.portfolio__card-text {
    margin: 25px 0;
}

.portfolio__card-btn {
    padding: 14px 38px;
    background-color: #EB3D47;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.portfolio__subtitle {
    margin-top: 50px;
}

/* ==== Мобилка (до 480px) ==== */
@media (max-width:480px) {
    .portfolio__title {
        font-size: 20px;
        text-align: center;
    }

 

    .portfolio__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 20px;
    }

    .portfolio__subtitle {
        font-size: 20px;
    }

    .portfolio__pagination {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        gap: 30px;
    }

    .arrow-buttons {
        display: flex;
        gap: 10px;
    }

    .arrow {
        width: 50px;
        height: 28px;
    }

    .indicators {
        display: flex;
        gap: 15px;
    }

    .indicators div {
        width: 12px;
        height: 12px;
    }
}