/* ===== Footer ===== */
.footer {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}

/* Контейнер */
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* убрал wrap, чтобы не выпадало */
    gap: 20px;
}

/* Навигация */
.nav__list {
    display: flex;
    gap: 20px;
}

.nav__link {
    color: #fff;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: #EB3D47;
}

/* Соцсети */
.footer__socials {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer__socials a:hover {
    background: #EB3D47;
    transform: translateY(-3px);
}

.footer__logo-text {
    font-weight: 900;
    font-size: 32px;
    line-height: 87%;
    color: #eb3d47;
}

/* ===== Адаптив ===== */
@media (max-width: 480px) {
    .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

    .footer__logo-text {
        margin-top: 30px;
    }

    .nav__list {
        margin-top: 30px;
        flex-direction: column;
        gap: 30px;
    }

    .footer__socials {
        margin-top: 30px;
        justify-content: center;
        margin-bottom: 25px;
    }
}