@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 35px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Inter", sans-serif;
  background: #13151c;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: #eb3d47;
}


h1,
h2 {
  font-family: "Montserrat", sans-serif;
}